.reservations {
  text-align: center;
  padding: 30px;
}

.reservations h4 {
  font-size: 38px;
}
.reservations p {
  font-size: 18px;
}

.reservationForm {
  background: var(--secondary-color);
  border-radius: 10px;
  padding-bottom: 15px;
}
.reservationForm .btn {
  padding: 14px 25px;
  font-size: 20px;
  background: var(--branding-color);
  color: var(--primary-color);
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}
.reservationForm .btn :hover {
  color: var(--branding-color);
}
