.events {
  background: linear-gradient(rgba(8, 0, 58, 0.5), rgba(8, 0, 58, 0.5)),
    url(../assets/back_room.png);
  background-size: cover;
  background-position: center;
  color: var(--primary-color);
  min-height: 100vh;
  width: 100%;
}

.eventsText {
  padding-top: 150px;
  max-width: 800px;
}
.eventsText h1 {
  font-size: 90px;
  font-weight: 600;
}
.eventsText h3 {
  font-size: 35px;
  max-width: 900px;
  margin: 10px auto 20px;
  line-height: 8;
}
.eventsText p {
  font-size: 25px;
}
.img-thumbnail {
  width: 400px;
  height: 400px;
  border-radius: 20px;
}
