.events {
    background: linear-gradient(rgba(8, 0, 58, 0.4), rgba(8, 0, 58, 0.4)),
      url(../assets/biergarten.png);
  
    background-size: cover;
    background-position: center;
    color: var(--primary-color);
    min-height: 100vh;
    width: 100%;
  }
  
  .eventsText {
    padding-top: 200px;
    max-width: 800px;
    text-align: center;
  }
  .eventsText h1 {
    color: #ffffff;
    font-size: 90px;
    font-weight: 600;
    vertical-align: top;
  }
  .eventsText p {
    font-size: 25px;
    max-width: 900px;
    margin: 10px auto 20px;
    line-height: 1.4;
  }
  .events .btn {
    padding: 14px 25px;
    font-size: 16px;
    background: var(--branding-color);
    color: #000000;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }
  