.nav {
  width: 100%;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  cursor: pointer;
}

.logo {
  width: 100px;
  margin: 5px;
}
.nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 20px;
}

.darkNav {
  background: var(--primary-color);
  color: #000000;
  transition: 0.5s;
}
.menuLinks a {
  text-decoration: none;
  color: var(--branding-color);
}
.darkNav a {
  color: #000000;
}

.menuLinks a:hover {
  color: #a6a5a5;
  transition: all 100ms ease-in-out;
}
@media (max-width: 960px) {
  .menuLinks {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
}
