@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  --branding-color: #97d8f5;
  --secondary-color: #1b2b33;
}
.App {
  font-family: "Poppins", sans-serif;
}
